.top_border{
    border: 3px solid darkblue;
    background-color: bisque;
}

.title{
    color: darkgreen;
    position: absolute;
    top: 20px;
    left: 650px;
}

#background_color{
    background-color: lightgray;
}

.java_pos{
    position: absolute;
    left: 1325px;
}

.menu{
    display: block;
    background-color: lightskyblue;
}

.home_link{
    color: darkred;
    position: relative;
    left: 170px;
}

.livros_link{
    color: darkred;
    position: absolute;
    left: 270px;
}

.videos_link{
    color: darkred;
    position: absolute;
    left: 370px;
}

.contatos_link{
    color: darkred;
    position: absolute;
    left: 470px;
}