<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Resposta</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1><%= mensagem %></h1>
        <a href="/">Voltar à página inicial</a>
    </body>
</html>