.body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.guess{
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
}

.input{
    padding: 5px;
    font-size: 16px;
    width: 50px;
    text-align: center;
}

button{
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
<<<<<<< HEAD:Atividade IV/guess_style.css
}

#resposta{
    display: inline-block;
    padding: 5px 10px;
=======
>>>>>>> 185bd04822844b8832b37994e0c57c15dd400a1c:Atividade III/guess_style.css
}