#index-color{
    background-color: #90e0ef;
}

#project-color{
    background-color: #89c2d9;
}

table, th, td{
    border: 1px solid black;
    border-style: double;
    padding: 10px;
}

.fei{
    color: blue;
}

.margin{
    margin-top: 30px;
}

.home_fixed{
    position: fixed;
    top: 5px;
}

.projects_fixed{
    position: fixed;
    top: 5px;
    left: 60px;
}

.site_margin{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.site{
    width: fit-content;
    border: 1px solid black;
    background-color: lightskyblue;
}

.site_list{
    width: fit-content;
    border: 1px solid black;
    background-color: lightskyblue;
}

.site:hover{
    color:lightskyblue;
    background-color: red;
}